#projects {
  min-height: 80vh;
  letter-spacing: 2px;
  margin: 20px 90px;
}

.title {
  text-align: left;
  font-size: 60px;
}

.projects-container{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  margin:0;
  height: auto;
  align-items:center;
  align-content:center;
}

.btn-images:hover{
  background-color: #6f0b6f;
  font-weight: bold;
  letter-spacing: 5px;
  font-style: italic;
  color: "#ffffff";

}
