#about {
  min-height: 90vh;
  margin: 20px 90px;
}

p {
  text-align: justify;
  font-size: 20px;
}

.info {
  display: flex;
  gap: 70px;
}

.about-info,
.tech-stack {
  text-align: left;
  max-width: 50%;
  height: fit-content;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.styleName {
  color: #b429b4;
  font-style: italic;
  transition: all 0.8s ease;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

a {
  color: #fff;
  font-weight: bolder;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.iconSpeaker {
  margin: 0 20px;
  color: #b429b4;
  animation: pulse 2.5s infinite ease-in-out;
  transition: transform 0.3s, box-shadow 0.3s;
}

.iconSpeaker:hover {
  box-shadow: 0 0 15px 5px rgba(180, 41, 180, 0.5);
  border-radius: 10px;
}

.gradient {
  font-weight: 600;
  font-size: 14px;
  margin: 12px;
  padding: 14px 20px;
  border-radius: 0.7em;
  background: -webkit-linear-gradient(
      225deg,
      rgb(251, 21, 242),
      rgb(21, 198, 251)
    )
    0% 0% / 300% 300%;
  background-size: 200% auto;
  -webkit-animation: gradient_move 3s ease infinite;
  animation: gradient_move 3s ease infinite;
}

@-webkit-keyframes gradient_move {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

@keyframes gradient_move {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

@mixin centerFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@mixin createButton(
  $width,
  $height,
  $radius,
  $gradientFirst,
  $gradientThird,
  $shadowColor
) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-image: linear-gradient(
    135deg,
    $gradientFirst 0%,
    $gradientThird 100%
  );
  box-shadow: 0 20px 30px -6px $shadowColor;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}


/* Responsividad */
@media (max-width: 1100px) {
  #about {
    margin: 0 20px;
    padding-bottom: 100px;
    min-height: fit-content;
  }

  .info {
    flex-direction: column;
    gap: 30px;
  }

  .about-info,
  .tech-stack {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 780px) {
  #about {
    margin: 0 20px;
    padding-bottom: 100px;
    min-height: fit-content;
  }

  .info {
    flex-direction: column;
    gap: 30px;
  }

  .about-info,
  .tech-stack {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  #about {
    margin: 0 10px;
    padding-bottom: 80px;  
  }

  .info {
    flex-direction: column;
    gap: 20px; 
    justify-content: flex-start; 
    text-align: center;
  }

  .about-info,
  .tech-stack {
    max-width: 100%;
    padding: 0 10px; 
  }
}
