#contact {
  min-height: 70vh;
  letter-spacing: 2px;
  margin: 40px 90px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.formContact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  color: #fff;
}

.formContact button {
  padding: 10px 20px;
  background-color: #b429b4;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formContact button:hover {
  background-color: #6f0b6f;
  font-weight: bold;
  letter-spacing: 5px;
}

.socialNet {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.socialNet a {
  transition: transform 0.4s ease-in-out;
  margin-bottom: 20px;
}

.socialNet a:hover {
  transition: transform 0.4s ease-in-out;
  transform: scale(2);
  color: #920e92;
}

.title {
  text-align: left;
  font-size: 60px;
}

@media (max-width: 1100px) {
    .info {
        flex-direction: column;
        gap: 40px;
      }
    
      .formContact,
      .socialNet {
        width: 100%;
      }

      .socialNet {
        display: block;
      }

      .title {
        text-align: left;
        font-size: 60px;
      }
      
  }
  
  @media (max-width: 768px) {
    .info {
      flex-direction: column;
      gap: 40px;
    }
  
    .formContact,
    .socialNet {
      width: 100%;
    }
    
  }
  
  @media (max-width: 480px) {
    #contact {
      margin: 10px 20px;
    }
  
    .formContact button {
      padding: 8px 16px;
    }
  
    .socialNet a {
      margin-bottom: 15px;
    }
  
    .socialNet a:hover {
      transform: scale(1.5); 
    }
  }